<img src="https://www.ikiam.edu.ec/img/logo-ikiam-grey.png" width=300 height=240 />


## GBI6-2021II: BIOINFORMÁTICA
## Map of science 
### Nombre: Anderson Yumbo
#### Basado en las sesiones de Visualización de datos y Expresiones resulares. Realice una adaptación de la solución del MAP OF SCIENCE. Se requiere dos  adaptaciones para resolver esta actividad:

In [31]:
import re
import csv
import pandas as pd
import matplotlib.pyplot as pltb
import itertools

In [32]:

import re
with open('./pubmed-metabolito-set.txt',"r", encoding='utf-8-sig') as f:
    my_text = f.read()
    my_text = re.sub(r'\n\s{6}', ' ', my_text)

In [33]:
 text1 = re.findall(r"\,\s[A-Z]+[A-z]{2,11}\.", my_text)

In [34]:
    unique_text =list(set(text1))
    unique_text.sort()
    a = unique_text
    print(a[:5])

[', Australia.', ', Belgium.', ', Col.', ', France.', ', Germany.']

In [35]:

b = unique_text

In [36]:

    b.remove(', Col.')
    print() # Se da un enter
    print('La lista de países es: ', b)

La lista de países es:  [', Australia.', ', Belgium.', ', France.', ', Germany.', ', Iran.', ', Italy.', ', Japan.', ', Luxembourg.', ', Mexico.', ', USA.']

In [37]:
    c = "".join(b)
    d = c.split(", ")
    e = "".join(d)
    f = e.split(".")
    f.pop(9)
    f.remove("")
    g = f
    print()
    print('La lista definitiva es: ', g)

La lista definitiva es:  ['Australia', 'Belgium', 'France', 'Germany', 'Iran', 'Italy', 'Japan', 'Luxembourg', 'Mexico']

In [38]:
data = pd.read_csv('./Paises.csv', engine='python', skipfooter=3)
data.head(10)

  country   latitude  longitude                  name
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania
6      AM  40.069099  45.038189               Armenia
7      AN  12.226079 -69.060087  Netherlands Antilles
8      AO -11.202692  17.873887                Angola
9      AQ -75.250973  -0.071389            Antarctica

In [39]:
name = data[data.name.isin(g)]
name.head(10)

    country   latitude   longitude        name
13       AU -25.274398  133.775136   Australia
19       BE  50.503887    4.469936     Belgium
53       DE  51.165691   10.451526     Germany
71       FR  46.227638    2.213749      France
105      IR  32.427908   53.688046        Iran
107      IT  41.871940   12.567380       Italy
111      JP  36.204824  138.252924       Japan
131      LU  49.815273    6.129583  Luxembourg
153      MX  23.634501 -102.552784      Mexico

In [40]:
paises = data[data.country.isin(g)]
all_data =pd.concat([name,paises]).drop_duplicates().sort_values('name')
all_data.head(10)

    country   latitude   longitude        name
13       AU -25.274398  133.775136   Australia
19       BE  50.503887    4.469936     Belgium
71       FR  46.227638    2.213749      France
53       DE  51.165691   10.451526     Germany
105      IR  32.427908   53.688046        Iran
107      IT  41.871940   12.567380       Italy
111      JP  36.204824  138.252924       Japan
131      LU  49.815273    6.129583  Luxembourg
153      MX  23.634501 -102.552784      Mexico

NameError: name 'plt' is not defined